.block-tweet-container {
    text-align: center;
    font-size: 16px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.block-tweet-twitter-icon,
.block-tweet-tweet-link {
    display: inline-block;
}

.block-tweet-tweet-head,
.block-tweet-tweet-body {
    text-align: center;
}

.block-tweet-tweet {
    border-top:4px solid #1da1f2;
    box-sizing: border-box;
    display: inline-block;
    width: 31%;
    height: 275px;
    max-width: 380px;
    background-color: white;
    margin: 10px 1%;
    padding: 5px 5px;
    vertical-align: top;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.block-tweet-twitter-icon {
    color: #1da1f2;
}

.block-tweet-tweet-head {
    font-size: 1.2em;
    padding: 5px 5px;
}

.block-tweet-tweet-body {
    font-size: 0.9em;
}

.block-tweet-tweet-date {
    font-size: 0.8em;
    color: #999;
}

.block-tweet-tweet-text {
    padding: 20px 5px;
}

@media(max-width: 900px) { /* at less than 900px */
    .block-tweet-tweet { 
        width: 45%;
        margin: 15px 1%;
    }
}
@media (max-width: 600px) { /* at less than 600px */
    .block-tweet-tweet { 
        width: 100%;
        margin: 15px 0px;
    }
}

